.l-topsearch {
display: none;
height: 68px;
margin: 0;
overflow: hidden;
z-index: 254;
}
.l-topsearch .topsearch__cont{
margin: 14px 4vw;
background-color: #fff;
border-radius: 6px;
height: 39px;
}
.l-topsearch .topsearch__cont--vect{
margin: 6px 0 0 4px;
position: absolute;
}
.l-topsearch .topsearch__cont--input{
outline:none;
border: 0;
height: 32px;
padding: 2px;
margin: 2px 8px 0 36px;
font-size: 18px;
box-sizing: border-box;
    width: calc(100% - 160px);
}
.l-topsearch .topsearch__cont--righta{
cursor: pointer;
float: right;
height: 100%;
margin: 0;
font-size: 18px;
border-radius: 0 6px 6px 0;
line-height: 2.2;
padding: 0 12px;
}
.l-topsearch .topsearch__deskt--hide {
display: none;
}
.ever-present__search {
position: fixed;
top: 60px;
width: 100%;
}
@media only screen and (max-width: 1064px){  /* small */
    .l-topsearch {
        display: block;
    }
    .l-topsearch .topsearch__deskt--hide {
        display: block;
    }
    .l-topsearch .topsearch__cont--input{
        width: calc(100% - 160px);
    }
}

body[data-brand="LS"]  .l-topsearch { background-color: #677B88; }
body[data-brand="LTD"] .l-topsearch { background-color: #efefef; }
body[data-brand="LS"]  .l-topsearch .topsearch__cont--vect   { fill: #343a40;}
body[data-brand="LTD"] .l-topsearch .topsearch__cont--vect   { fill: #30619a;}
body[data-brand="LS"]  .l-topsearch .topsearch__cont--righta   { background-color: #d0021b; color: #fff;}
body[data-brand="LTD"] .l-topsearch .topsearch__cont--righta   { background-color: #cae3ff; color: #275f9b;}