body[data-brand="LS"]  .l-toplogo { background-color: #fff; }
body[data-brand="LTD"] .l-toplogo { background-color: #fff; }

body[data-brand="LS"]  .l-toplogo .toplogo__gridright--link { color: #343a40; }
body[data-brand="LTD"] .l-toplogo .toplogo__gridright--link { color: #4a90e2; }
body[data-brand="LS"] .l-toplogo .resp_btn_green.toplogo__gridright--link { color: #fff !important; }
body[data-brand="LTD"] .l-toplogo .resp_btn_green.toplogo__gridright--link { color: #fff !important; }

body[data-brand="LS"]  .l-grid .toplogo__gridright--vect { fill: #000; }
body[data-brand="LTD"] .l-grid .toplogo__gridright--vect { fill: #4a90e2; }

body[data-brand="LS"]  .toplogo__slide--opened svg  { fill: #343a40; }
body[data-brand="LTD"] .toplogo__slide--opened svg  { fill: #4a90e2; }

body[data-brand="LS"]  .toplogo-email__btn--submit { background-color: #d0021b; color: #fff;    }
body[data-brand="LTD"] .toplogo-email__btn--submit { background-color: #cae3ff; color: #275f9b; }

body[data-brand="LS"]  .l-toplogo .toplogo__slide--opened { border-color: #d0021b; }
body[data-brand="LTD"] .l-toplogo .toplogo__slide--opened { border-color: #cae3ff; }