#egain-chat-wrapper{
    position: fixed;
    overflow: hidden;
    display: none;
    z-index: 10000;
    opacity:1;
    border: 0px;
    backface-visibility: hidden;
    background: transparent;
}
#egain-chat-wrapper.egain-launch-chat, #egain-chat-wrapper.egain-launch-va{
    display: block;
}
#egain-chat-wrapper.egain-launch-chat{
    height: 60px;
    width: 60px;
}
#egain-chat-wrapper.egain-launch-chat.egain-launch-hover {
    width: 210px;
}
#egain-chat-wrapper.egain-launch-va.egain-launch-hover {
    width: 365px;
}
#egain-chat-wrapper.egain-maximized{
    border-radius: 5px;
    display: block;
}
#egain-chat-wrapper.egain-minimized{
    height: 110px;
    width: auto;
    display: block;
    pointer-events: none;
}
#egain-chat-iframe{
    position : relative;
    width : 100%;
    height : 100%;
    border : 0px;
}

#egain-chat-wrapper.egain-minimized #egain-chat-iframe{
    width: 130px; 
    left: 50%; 
    pointer-events: auto;
    transform: translateX(-50%); 
    pointer-events: auto;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #egain-chat-wrapper{
        bottom: 0px;
        right:0px;
    }
    #egain-chat-wrapper.egain-launch-chat,#egain-chat-wrapper.egain-launch-va{
        bottom : 20px;
        right: 20px;
    }
    #egain-chat-wrapper.egain-maximized{
        height: initial;
        width: 100%;
        top: 0px;
    }
    #egain-chat-wrapper.egain-minimized{
        bottom : 20px;
    }
    body.eg-chat-maximized{
        overflow-y: hidden !important;
        position: fixed !important;
        width: 100% !important;
        min-height:100% !important;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #egain-chat-wrapper{
        bottom : 0px;
        right: 5px;
    }
    #egain-chat-wrapper.egain-launch-va{
        height: 165px;
        width: 140px;
    }
    #egain-chat-wrapper.egain-maximized{
        max-height: 600px;
        max-width: 395px;
        height:100%;
        width:100%;
        top: auto;
    }
    #egain-chat-wrapper.egain-gh-collapsed{
        max-width: 445px;
    }
    #egain-chat-wrapper.egain-gh-active{
        max-width: 790px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}