
.h-txt__align--center{text-align: center}
.h-mobile__only--block{display:block} .h-tablet__only--block{display:none!important;} .h-desktop__only--block{display:none!important} 
.h-flex {display: flex};
.h-flex__auto {flex: auto};
.toplogo__home--image-lsc { width: 276px !important;}
.toplogo__home--image-ltd { width: 276px !important;}

/*  branded buttons begin  */
.check-button--primary,
.check-button--secondary {
cursor: pointer;
display: block;
border: solid 2px #000;
border-radius: 3px;
font-family: Roboto, sans-serif;
font-size: 1.1em;
text-align: center;
padding: 10px;
margin: 4px;
text-decoration: none;
width: 98%;
}
.check-button--primary,
.check-button--primary:hover {
    color: #fff;
    background-color: #000;
}
.check-button--secondary,
.check-button--secondary:hover {
    color: #000;
    background-color: #fff;
}
/*  branded buttons end  */

/*  Step Panel Banner Begin */
.resp_pnl_stp_valn {
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
}
.resp_pnl_stp_e {
    padding: 8px;
    cursor: pointer;
    min-height: 46px;
}
.resp_pnl_stp_d {

}
/*  Step Panel Banner End */

/* Talk Begin */
.l-talk 
{
/*box-shadow: 0px 0px 2px 2px rgba(119,119,119,1);*/
position: relative;
width: 366px;
height: 114px;
padding: 8px;
background: #FFFFFF;
border-radius: 8px;
border: #888888 solid 1px;
margin: 0 auto;
z-index: 178;
}

.l-talk:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 24px 14px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -14px;
left: 140px;
}

.l-talk:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 24px 14px;
border-color: #888888 transparent;
display: block;
width: 0;
z-index: 0;
top: -15px;
left: 140px;
}

.l-talk p {
    margin: 10px 2px; padding: 2px;
    color: #000;
    font-size: 14px !important;
}
/* Talk End */

/* Task Progress Begin */
.l-task-progress {
    font-family: Roboto, sans-serif;
    text-align: center;
    user-select: none;
}

.task__link a,
.task__link a:link,
.task__link a:visited,
.task__link a:hover, .task__link a:focus,
.task__link a:active,
.task__link a {
    color: #888888;
    cursor: pointer;
    display: block;
    font-size: 13px;
    overflow: hidden;
    width: 58px;
    text-decoration: none;
}
.task__link span {
    display: block;
    border: solid 2px #30619A;
    border-radius: 100%;
    font-size: 18px;
    padding: 2px; margin: 4px auto;
    height: 28px; width: 28px;
    line-height: 1.6;
}
.l-task-progress p {
    font-size: 1.4em !important;
    font-weight: 300;
}
.l-task-progress aside svg {
    fill: #9CCC65;
}
/* Task Progress End */

@media only screen
    and (min-width: 375px)
    and (max-width: 667px){  /* small *//* mobile 44.875em */
    .h-mobile__only--block{display:block} .h-tablet__only--block{display:none!important;} .h-desktop__only--block{display:none!important} 

}
@media only screen 
    and (min-width: 668px)
    and (max-width: 1064px){  /* medium *//* tablet 47.750em */
    .h-mobile__only--block{display:none!important} .h-tablet__only--block{display:block;} .h-desktop__only--block{display:none!important} 

}
@media only screen 
    and (min-width: 1065px){  /* large *//* laptop 66.563em */
    .h-mobile__only--block{display:none!important} .h-tablet__only--block{display:none!important;} .h-desktop__only--block{display:block;} 

}   /* large *//* laptop 66.563em */