.l-flymyaccount {
display: block;
margin: 0;
overflow: hidden;
width: 232px;
position: fixed;
border: 1px solid #bbb;
border-radius: 0 0 6px 6px;
box-shadow: 0px 2px 5px rgba(0,0,0, 0.5);
right: 56px;
z-index: 64;
}

ltdc-flymyaccount[data-auth="true"]  .flymyaccount__nav--nauth {display: none;}
ltdc-flymyaccount[data-auth="true"]  .flymyaccount__nav--auth  {display: block;}
ltdc-flymyaccount[data-auth="false"] .flymyaccount__nav--nauth {display: block;}
ltdc-flymyaccount[data-auth="false"] .flymyaccount__nav--auth  {display: none;}

.l-flymyaccount .flymyaccount__cont {}
.l-flymyaccount .flymyaccount__nav--nauth {
line-height: 3;
font-size: 18px;
border-bottom: 1px solid;
padding: 4px;
text-align: center;
min-height: 46px;
}
.l-flymyaccount .flymyaccount__nav--auth {
line-height: 3;
font-size: 18px;
border-bottom: 1px solid;
padding: 4px;
text-align: center;
min-height: 46px;
}
.l-flymyaccount .flymyaccount__nav {
line-height: 3;
font-size: 18px;
border-bottom: 1px solid;
padding: 4px;
text-align: center;
min-height: 46px;
}
.l-flymyaccount .flymyaccount__text {
margin: 8px;
padding: 6px;
line-height: 1;
font-size: 16px;
}
.l-flymyaccount .flymyaccount__btn--green {
text-decoration: none;
cursor: pointer;
display: block;
border: 1px solid;
padding: 8px;
margin: 8px;
line-height: 1.4;
text-align: center;
border-radius: 6px;
color: #fff;
background-color: #00ad5d;
}
.l-flymyaccount .flymyaccount__btn--green:hover {
text-decoration: none;
background-color: #10bd6d;
}
.l-flymyaccount .flymyaccount__btn--brand {
text-decoration: none;
cursor: pointer;
display: block;
border: 1px solid;
padding: 8px;
margin: 8px;
line-height: 1.4;
text-align: center;
border-radius: 6px;
color: #fff;
}
.l-flymyaccount .flymyaccount__btn--ghost {
text-decoration: none;
cursor: pointer;
display: block;
border: 1px solid;
padding: 8px;
margin: 8px;
line-height: 1.4;
text-align: center;
border-radius: 6px;
}
.l-flymyaccount .flymyaccount__btn--ghost:hover {
background-color: #fff;
}
.l-flymyaccount .flymyaccount__link {
text-decoration: none;
cursor: pointer;
}

body[data-brand="LS"]  .l-flymyaccount { background-color: #fff; }
body[data-brand="LTD"] .l-flymyaccount { background-color: #f5faff; }
body[data-brand="LS"]  .l-flymyaccount { border-color: #bbb; }
body[data-brand="LTD"] .l-flymyaccount { border-color: #4a90e2; }
body[data-brand="LS"]  .l-flymyaccount { color: #555; }
body[data-brand="LTD"] .l-flymyaccount { color: #4a90e2; }
body[data-brand="LS"]  .l-flymyaccount .flymyaccount__link:link { color: #555; }
body[data-brand="LTD"] .l-flymyaccount .flymyaccount__link:link { color: #4a90e2; }
body[data-brand="LS"]  .l-flymyaccount .flymyaccount__link:visited { color: #555; }
body[data-brand="LTD"] .l-flymyaccount .flymyaccount__link:visited { color: #4a90e2; }

body[data-brand="LS"]  .l-flymyaccount .flymyaccount__btn--brand { background-color: #d0021b; }
body[data-brand="LTD"] .l-flymyaccount .flymyaccount__btn--brand { background-color: #30619a; }

body[data-brand="LS"]  .l-flymyaccount .flymyaccount__btn--brand:hover { background-color: #e0122b; }
body[data-brand="LTD"] .l-flymyaccount .flymyaccount__btn--brand:hover { background-color: #4071aa; }

body[data-brand="LS"]  .l-flymyaccount .flymyaccount__btn--ghost { border-color: #5EA3C3; }
body[data-brand="LTD"] .l-flymyaccount .flymyaccount__btn--ghost { border-color: #30619a; }
body[data-brand="LS"]  .l-flymyaccount .flymyaccount__btn--ghost:link    { color: #555; }
body[data-brand="LTD"] .l-flymyaccount .flymyaccount__btn--ghost:link    { color: #4a90e2; }
body[data-brand="LS"]  .l-flymyaccount .flymyaccount__btn--ghost:visited { color: #555; }
body[data-brand="LTD"] .l-flymyaccount .flymyaccount__btn--ghost:visited { color: #4a90e2; }
body[data-brand="LS"]  .l-flymyaccount .flymyaccount__btn--ghost:hover   { color: #555; background-color: #fff; }
body[data-brand="LTD"] .l-flymyaccount .flymyaccount__btn--ghost:hover   { color: #4a90e2; background-color: #fff; }