/*  CSS category State    */ /*  color display font visibility ...  */
.c-flyoutwish {
    border-radius: 4px;
    box-shadow: 2px 2px 2px #ccc;
    padding: 8px;
    position: fixed;
    right: 341px;
    width: 204px;
    z-index: 258;
  }
  .c-flyoutwish h4 {
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin: 4px 4px 8px 4px;
    width: 100%;
  }
  .c-flyoutwish .flyoutwish__cmd {
      display: block;
      border: solid 2px;
      padding: 8px;
  
    color: #222;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  @media only screen and (max-width:61.1875em){
  /* small and medium */
    .c-flyoutwish {
  
    }
  }
  /*  CSS category Theme    */ /*  color background hover ...  */
  body[data-brand="LS"] .c-flyoutwish { border: solid 1px #35424a; }
  body[data-brand="LTD"] .c-flyoutwish { border: solid 1px #30619a; }
  body[data-brand="LS"] .c-flyoutwish { background-color: #fff; }
  body[data-brand="LTD"] .c-flyoutwish { background-color: #fff; }
  body[data-brand="LS"] .c-flyoutwish { top: 80px; }
  body[data-brand="LTD"] .c-flyoutwish { top: 70px; }
  body[data-brand="LS"] .c-flyoutwish a  { color: #d0021b; }
  body[data-brand="LTD"] .c-flyoutwish a  { color: #2ba6cb; }