    /*  CSS category State    */ /*  color display font visibility ...  */

    .error a {
      color: #fff!important;
      text-decoration: underline;
    }
    .error {
      min-height: 32px;
      display: block;
      padding: .375em .25em;
      margin: -2px 0 1em 0;
      font-size: 13px;
      font-weight: bold;
      font-style: italic;
      background: #f04124;
      color: white;
      text-transform: none!important;
    }
      .l-signin .svg__x {
      cursor: pointer;
      position: absolute;
      right: 8px;
      top: 8px;
      }
      .l-signin .svg__x img {
      cursor: pointer;
      }
      .signin_reveal_percent {
      width: 92% !important;
      }
      .l-signin .input-align {
      margin: 2px auto;
      width: 92%;
      }
      .l-signin .input-pers {
      border: solid 1px #BFBFBF;
      font-size: 18px;
      font-weight: 500;
      height: 41px;
      width: 98%;
      margin: 6px 0;
      padding: 0 4px;
      }
      .l-signin .nav-grd {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      margin: 2px 14px;
      }
          .flex-item:nth-child(1) {
          order: 0;
          flex: 0 1 44%;
          align-self: center;
          }
          .flex-item:nth-child(2) {
          order: 0;
          flex: 0 1 66%;
          align-self: center;
          }
  
  
      .l-signin .signin__link {
          cursor: pointer;
          font-size: 14px;
          text-align: center;
          text-decoration: underline;
      }
      body[data-brand="LS"]  .l-signin .signin__link { color: #D0021B; }
      body[data-brand="LTD"] .l-signin .signin__link { color: #30609A; }
  
    .l-signin h5 {
      color: #111;
      font-family: sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 100;
      text-align: left;
      margin: 0 6px 6px 18px;
    }
    .l-signin p {
      margin: 14px 18px;
    }
    /*  branded buttons begin  */
    .l-signin .brand__button--primary,
    .l-signin .brand__button--secondary {
      display: inline;
      border: solid 2px;
      border-radius: 3px;
      font-family: sans-serif;
      font-size: 1.1em;
      text-align: center;
      padding: 10px;
      margin: 4px;
      text-decoration: none;
      width: 98%;
    }
    .l-signin .brand__button-sm--primary,
    .l-signin .brand__button-sm--secondary {
      display: block;
      border-radius: 3px;
      font-family: sans-serif;
      font-size: .95em;
      text-align: center;
      padding: 6px;
      margin: 3px 0;
      text-decoration: none;
      min-width: 100%;
    }
    /*  branded buttons end  */
  @media only screen
      and (min-width: 375px)
      and (max-width: 667px){  /* small *//* mobile 44.875em */
          .signin_reveal_percent {
          width: 84% !important;
          }
          .l-signin h5 {
          font-size: 20px;
          }
  }
  @media only screen 
      and (min-width: 668px)
      and (max-width: 1064px){  /* medium *//* tablet 47.750em */
          .signin_reveal_percent {
          width: 460px !important;
          }
          .l-signin h5 {
          font-size: 25px;
          }
  }
  @media only screen 
      and (min-width: 1065px){  /* large *//* laptop 66.563em */
          .signin_reveal_percent {
          width: 460px !important;
          }
          .l-signin h5 {
          font-size: 25px;
          }
  }   /* large *//* laptop 66.563em */
  
    
    /*  CSS category Theme    */ /*  color background hover ...  */
    body[data-brand="LS"]  .l-signin .brand__button--primary,
    body[data-brand="LS"]  .l-signin .brand__button-sm--primary,
    body[data-brand="LS"]  .l-signin .brand__button--primary:visited,
    body[data-brand="LS"]  .l-signin .brand__button-sm--primary:visited    
    { color: #ffffff; background-color: #D0021B; border-color: #D0021B; }
    body[data-brand="LTD"] .l-signin .brand__button--primary,
    body[data-brand="LTD"] .l-signin .brand__button-sm--primary,
    body[data-brand="LTD"] .l-signin .brand__button--primary:visited,
    body[data-brand="LTD"] .l-signin .brand__button-sm--primary:visited 
    { color: #ffffff; background-color: #30609A; border-color: #30609A; }
  
  body[data-brand="FF"] .l-signin .signin__link { color: #30609A; }
  
    .l-signin h5 {
      color: #111;
      font-family: sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 100;
      text-align: left;
      margin: 0 6px 6px 18px;
    }
    .l-signin p {
      margin: 14px 18px;
    }
    /*  branded buttons begin  */
    .l-signin .brand__button--primary,
    .l-signin .brand__button--secondary {
      display: inline;
      border: solid 2px;
      border-radius: 3px;
      font-family: sans-serif;
      font-size: 1.1em;
      text-align: center;
      padding: 10px;
      margin: 4px;
      text-decoration: none;
      width: 98%;
    }
    .l-signin .brand__button-sm--primary,
    .l-signin .brand__button-sm--secondary {
      display: block;
      border-radius: 3px;
      font-family: sans-serif;
      font-size: .95em;
      text-align: center;
      padding: 6px;
      margin: 3px 0;
      text-decoration: none;
      min-width: 100%;
    }
    /*  branded buttons end  */
  @media only screen
      and (min-width: 375px)
      and (max-width: 667px){  /* small *//* mobile 44.875em */
          .signin_reveal_percent {
          width: 84% !important;
          }
          .l-signin h5 {
          font-size: 20px;
          }
  }
  @media only screen 
      and (min-width: 668px)
      and (max-width: 1064px){  /* medium *//* tablet 47.750em */
          .signin_reveal_percent {
          width: 460px !important;
          }
          .l-signin h5 {
          font-size: 25px;
          }
  }
  @media only screen 
      and (min-width: 1065px){  /* large *//* laptop 66.563em */
          .signin_reveal_percent {
          width: 460px !important;
          }
          .l-signin h5 {
          font-size: 25px;
          }
  }   /* large *//* laptop 66.563em */
  
    
    /*  CSS category Theme    */ /*  color background hover ...  */
    body[data-brand="FF"] .l-signin .brand__button--primary,
    body[data-brand="FF"] .l-signin .brand__button-sm--primary,
    body[data-brand="FF"] .l-signin .brand__button--primary:visited,
    body[data-brand="FF"] .l-signin .brand__button-sm--primary:visited 
    { color: #ffffff; background-color: #30609A; border-color: #30609A; }